<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ../includes/jquery %>
    <% include ../includes/bootstrap %>
    <link rel="stylesheet" type="text/css" href ="stylesheets/style.css">
    <script type="text/javascript" src="javascripts/activities/DescriptionActivity.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="center-block">
            <h1 class=""><%= title %></h1>
            <p>
              <%= JSON.stringify(movie,null,2) %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
