<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ../includes/jquery %>
    <% include ../includes/bootstrap %>
    <link rel="stylesheet" type="text/css" href ="stylesheets/style.css">
    <script type="text/javascript" src="javascripts/activities/MainActivity.js"></script>
  </head>
  <body class = "home">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="center-block">
            <h1 class=""><%= title %></h1>
            <button class="btn btn-primary" onclick="goToLogin()">Log in</button>
            <button class="btn btn-primary" onclick="goToRegister()">Register</button>
            <br><br><br><br><br><br>
            <h2> You do not chill. </h2>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
