<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ../includes/jquery %>
    <% include ../includes/bootstrap %>
    <script type="text/javascript" src="javascripts/activities/LoginActivity.js"></script>
    <link rel="stylesheet" type="text/css" href ="stylesheets/style.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Login</h1>
          <form id="loginForm" method="post">
            <label>Username: </label><input type="text" name="username" id="username" />
            <br>
            <label>Password: </label><input type="password" name="password" id="password" />
            <br>
            <input class="btn btn-primary" type="submit" value="Log in">
          </form>
          <div id="error" class="alert alert-danger" style="display:none">
            <strong>Error!</strong> Error retreiving data.
          </div>
          <div id="incorrect" class="alert alert-danger" style="display:none">
            <strong>Incorrect Login!</strong> Invalid username/password.
          </div>
          <div id="success" class="alert alert-success" style="display:none">
            <strong>Success!</strong> Logged in. Wait to be redirected.
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
