body.home {
  padding: 50px;
  font: 14px "Lucida Console", "Courier New", monospace;
  background-image: url("../images/background_fire.png");
  background-repeat: no-repeat;
  background-size:cover;
}

body.registration {
    padding: 50px;
    font: 14px "Lucida Console", "Courier New", monospace;
    background-color: black;
}

a {
  color: #00B7FF;
}
h1 {
    color: #9e2a00;
}

h2 {
    color: #9e2a00;
}

h3 {
    color: #9e2a00;
    text-align: right;
    text-decoration: underline;
}

p {
    color: white;
}

button {
    background-color: white; /* Green */
    border: 2px solid #9e2a00;
    color: #9e2a00;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 250px;
}

label {
    color: #9e2a00;
}

table, td, tr {
    border: 1px solid white;
    text-align: left;
    padding: 10px;
    color: white;
}

th {
    border: 1px solid white;
    padding: 10px;
    text-align: center;
    color: white;
}
